a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

/* Container for Search Bar*/
.search-container {
    display: flex;
    border: 3px solid #4c4b4b;
    color: #000;
    border-radius: 100px; /* Set the border radius for rounded edges */
    overflow: hidden;
    width: 350px;
    margin-top: 70px;
}

/* Search input*/
.search-input {
    border: none;
    outline: none;
    padding: 10px 14px;
    flex-grow: 1;
    background-color: #ccc;  
}

.search-input::placeholder{
    color: #000;
}

/* Container for the bottom 5 buttons*/
.bottom-button-container {
    position: fixed;
    justify-content: center;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4c4b4b;
    padding: 1px; 
    border-top: 1px solid #4c4b4b; 
}

/* Details of the bottom buttons*/
.bottom-button {
    display: inline-block;
    width: 47px;
    padding: 10px 14px;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
    border: 3px solid #4c4b4b;
    border-radius: 10px;
    text-align: center;
}

/* Details of the back button in the top left*/
.back-button {
    position: absolute;
    top: 17px;
    left: 10px; 
    padding: 10px 17px;
    background-color: #ccc;
    text-decoration: none;
    color: #000;
    border: 2px solid #4c4b4b;
    border-radius: 100px;
}

/* Just adding the an arrow before the back button*/
.back-button::before {
    content: "←";
    margin-right: 5px;
}

/* Container for the title*/
.title-container{
    display:block;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 60px;
    left:0;
    right:0;
}

/* Container for the rest of the page basically
The image, the descriptions, the instructions, recipes*/
.food-container{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items:center;
    padding-bottom: 60px;
}

/* Details for the image of the food*/
.food-image{
    width: 350px;
    height: auto;
}

/* Details for the title of the recipe*/
.food-title{
    font-size: 25px;
    margin-right:207px;
    margin-top: 20px;
    margin-bottom:1px;
}


/* Details for the recipe info*/
.food-info {
display:flex;
justify-content: space-between;
}

/* Details for the recipe info */
.info-item {
flex: 1;
margin-right:20px;
white-space:nowrap;
margin-top: -10px;
}

/* More details for recipe info */
.info-item2 {
flex: 1;
margin-right:20px;
white-space:nowrap;
margin-top: -20px;

}

/*Lets you scroll*/
.scrollable-content{
overflow: auto;
position: relative;
}

/* Just for the star icon*/
.star {
width: 1em; 
display: inline-block;
margin-top: -17px;
}

/*Legit a table lol*/
table {
    border: 4px solid #000; 
}

td { 
    width: 350px;
    height: 100px;
}